body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row; 
}

.text-container {
    width: 45%;
    padding: 20px;
    border: 1px solid transparent;
    margin: 10px;
    font-size: 1.2em; 
}

.phrase {
    background: linear-gradient(135deg, #ddd, #00bcd4);
    border: 2px solid #00bcd4;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: calc(100% - 20px); 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    max-width: 300px;
}

.window {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    font-size: 38px;
    border: none;
}
.active {
    display: block;
}
#nextBtn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    cursor: pointer;
}
.window.active {
    display: block;
}
.progress-container {
    position: fixed;
    right: 130px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; 
    height: 340px;
    background-color: #DCDCDC;
    overflow: hidden; 
    border-radius: 10px;
}
.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff0081;
    transition: height 0.5s ease; 
 /*   border-radius: 10px;*/
}
.particle {
    position: absolute;
    background-color: #48D1CC;
    width: 4px;
    height: 4px;
     border-radius: 50%;
    animation: particleAnimation 0.4s ease forwards;
}
@keyframes particleAnimation {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px) translateX(-20px);
  }
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
    
#textInput {
    width: 300px;
    padding: 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 280px; 
    margin-bottom: 180px; 

}

#closeButton {
    position: fixed;
    top: 20px;
    right: 120px;
    cursor: pointer;
    font-size: 52px; 
    color: #808080; 
    background-color: transparent; 
    border: none; 
    padding: 0;
    z-index: 9999;
}