body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row; /* Добавлено свойство для расположения блоков в ряд */
}

.text-container {
    width: 45%;
    padding: 20px;
    border: 1px solid transparent;
    margin: 10px;
    font-size: 1.2em; 
}

#chechenText {
    text-align: right;
    margin-right: 250px;
}

#russianText {
    text-align: left;
    margin-left: 250px;
}
.phrase {
    background: linear-gradient(135deg, #ddd, #00bcd4);
    border: 2px solid #00bcd4;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: calc(100% - 20px); /* Ограничение ширины с учетом padding и border */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Добавление многоточия для текста, не помещающегося в блок */
    max-width: 300px;
}
#russianBlock, #chechenBlock{
    border: 1px red solid !important;   
}
.window {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}
.active {
    display: block;
}
#nextBtn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    cursor: pointer;
}
.window.active {
    display: block;
}
#progressBarContainer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 20px; 
  background-color: #f0f0f0;
}

#progressBar {
background-color: #4caf50; 
height: 0; 
transition: height 0.2s ease-in-out; 
}