body {
    margin: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

header {
    padding: 10px 0; 
    text-align: center; 
    position: relative; 
    z-index: 1; 
    margin-right: 260px; 
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row; 
}

.text-container {
    width: 45%;
    padding: 20px;
    border: 1px solid transparent;
    margin: 10px;
    font-size: 1.2em; 
}
.nav-item {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.phrase {
    background: linear-gradient(135deg, #ddd, #00bcd4);
    border: 2px solid #00bcd4;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: calc(100% - 20px); 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    max-width: 300px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.window {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    font-size: 38px;
    border: none;
}
.active {
    display: block;
}
#nextBtn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
}

a {
    text-decoration: none;
}


.menu-button,
.profile-icon {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff; 
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
.window.active {
    display: block;
}
.progress-container {
    position: fixed;
    right: 130px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; 
    height: 340px;
    background-color: #DCDCDC;
    overflow: hidden; 
    border-radius: 10px;
}
.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff0081;
    transition: height 0.5s ease; 
 /*   border-radius: 10px;*/
}
.particle {
    position: absolute;
    background-color: #48D1CC;
    width: 4px;
    height: 4px;
     border-radius: 50%;
    animation: particleAnimation 0.4s ease forwards;
}

@keyframes particleAnimation {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px) translateX(-20px);
  }

}
.menu-button:hover,
.profile-icon:hover {
    background-color: #0056b3; 
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
}
.aside-item a{
    display: flex;
    font-size: 24px;
    color: black;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#textInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}


.closeButton {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 50px; 
    color: #FF00FF; 
    background-color: transparent; 
    border: none; 
    padding-right: 108px; 
}

.hidden{
    display: none;
}

.center-container {
    text-align: center;
}

.success-message {
    font-size: 24px; 
    margin-bottom: 20px; 
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
}

.correct-answers {
    font-size: 18px; 
}

.yellow-text {
    color: yellow;
}

.flex{
    display: flex;
}
.phrase-image {
    max-width: 100%; /* Максимальная ширина изображения будет равна ширине контейнера */
    max-height: 200px; /* Максимальная высота изображения будет 200px */
    display: block; /* Установка display на block, чтобы изображение корректно отображалось */
    margin: 10px auto; /* Центрирование изображения по горизонтали с отступами по вертикали */
}