.courses {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрируем блоки по горизонтали */
    align-items: center; /* Центрируем блоки по вертикали */
    gap: 20px; /* Расстояние между блоками */
    padding: 20px;
    box-sizing: border-box;
}

.course {
    width: 220px; /* Ширина блоков по умолчанию */
    height: auto;
    margin: 10px;
    position: relative; 
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
}


.course h2 {
    margin: 10px 0;
    text-align: center;

}
.course img {
    width: 50%;
    height: auto;
}
.course h3 {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}




@media screen and (max-width: 1775px) {
    .lessonsPage{
        max-width: 100%;
        margin-left:  0;
    }
}

@media screen and (max-width: 768px) {
    .LanguageInformation{
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
}




/*Показываем копию для маленьких экранов и скрываем оригинал на экранах до 1350px*/
 @media (max-width: 1350px) {
  /*#lessonsPagechechen,
    #lessonsPagebashkort,
    #lessonsPageingush,
    #lessonsPageadyge, 
    #lessonsPageudmurt,
    #lessonsPagetatar,
    #lessonsPagechuvash
     {
        display: none;
    }
    */
    .small-screen-container .main-block{
        font-size: 25px;
    }

    #languagesContainer{
        margin-left: 0;
    }

   
    .small-screen-container .main-block,
    .small-screen-container .section,
    .small-screen-container .lesson-block {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .small-screen-container .section-title {
        font-size: 1.6rem;
        text-align: center;
    }

    .small-screen-container .lesson-header h2 {
        font-size: 1.4rem;
    }
}


/* Дополнительные стили для совсем маленьких экранов 
@media (max-width: 768px) {
    #smallScreenLessonsPagechechen {
        padding: 0 5px;
    }
}

@media (max-width: 360px) {
    .main-block{
        padding: 0px !important;
    }
    .small-screen-container .main-block {
        font-size: 18px;
    }
}

*/

.small-screen-container {
    display: none;
}

.add-language-button {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
    margin: 10px auto;
}


.add-language-button:hover {
    color: #007bff; /* Изменение цвета при наведении */
}

/* Медиа-запросы для экранов меньше 950px */
@media screen and (max-width: 950px) {
    .courses {
        flex-direction: column; /* Все блоки в колонку */
    }

    .course {
        width: 100%; /* Блоки занимают всю ширину */
        max-width: 400px; /* Ограничиваем ширину */
    }
}