.shop_header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.header-button {
    margin-left: 10px;
    padding: 10px 20px;
    border: 2px solid transparent;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.header-button img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#crystals-button {
   /* border-color: #00f;*/
    color: #00f;
    background-color: #293133;
    font-size: 130%;
}

#gold-button {
    /*border-color: #ff0;*/
    color: #ff0;
    background-color: #293133;
    font-size: 130%;
}

.boosters-section {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.booster {
    width: 200px;
    height: 250px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.booster img {
    width: 50%;
    height: 50%;
}

.booster p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0;
    color: white;
}

.subscription-banner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.subscription, .crystals-purchase {
    width: 250px;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    color: white;
}

.subscription h3, .crystals-purchase h3 {
    font-size: 20px;
    margin: 0;
}

.subscription p, .crystals-purchase p {
    font-size: 16px;
    margin: 5px 0;
}

.subscription button, .crystals-purchase button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
