/*
.summary {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    z-index: 1000;
}
*/


/* For screens smaller than 768px */
@media (max-width: 768px) {
    .summaryBlock {
        width: 90%; /* Reduce width for medium-sized screens */
        max-width: 500px;
    }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
    .summaryBlock {
        width: 95%;
        max-width: 300px;
        padding: 15px; 
    }
}